#nav-social-media li a i{
    font-size: 16px;
}
/* #nav-menus li a{
    font-size: 15px;
} */

.aibot-maindiv{
    width: 50%;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0, 0, 0, 0.95);
    z-index: 10000;
    padding: 50px 0;
    /* display: none; */
}

#ai-txt{
    text-align: center;
}
#ai-txt h3{
    color: white;
    margin-bottom: 20px;
}

@media(max-width:720px)
{
    .aibot-maindiv{
        width: 90%;
        border-radius: 4px;
    }
}